<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>tagtype</key>
			<integer>1</integer>
			<key>label0</key>
			<string>用户名称</string>
			<key>label1</key>
			<string>刘备</string>
		</dict>
		<dict>
			<key>tagtype</key>
			<integer>1</integer>
			<key>label0</key>
			<string>登录账号</string>
			<key>label1</key>
			<string>18118003691</string>
		</dict>
		<dict>
			<key>tagtype</key>
			<integer>2</integer>
			<key>label0</key>
			<string>登录密码</string>
			<key>label1</key>
			<string>修改密码</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>tagtype</key>
			<integer>2</integer>
			<key>label0</key>
			<string>常州简易软件有限公司</string>
			<key>label1</key>
			<string></string>
		</dict>
		<dict>
			<key>tagtype</key>
			<integer>1</integer>
			<key>label0</key>
			<string>组织权限</string>
			<key>label1</key>
			<string>管理员</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>tagtype</key>
			<integer>2</integer>
			<key>label0</key>
			<string>未完成任务数</string>
			<key>label1</key>
			<string>2</string>
		</dict>
		<dict>
			<key>tagtype</key>
			<integer>2</integer>
			<key>label0</key>
			<string>已完成任务数</string>
			<key>label1</key>
			<string>23</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>tagtype</key>
			<integer>2</integer>
			<key>label0</key>
			<string>软件版本</string>
			<key>label1</key>
			<string>玩转任务v1.0.2</string>
		</dict>
		<dict>
			<key>tagtype</key>
			<integer>1</integer>
			<key>label0</key>
			<string>注册时间</string>
			<key>label1</key>
			<string>2014-10-12 10:22:11</string>
		</dict>
	</array>
</array>
</plist>
